<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Alayı Burada</title>
    <!-- Bootstrap  CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Fontawesome  CSS -->
    <link href="~/Components/css/font-awesome.min.css" rel="stylesheet" />
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- custom CSS  -->
    <link href="~/Components/css/style.css" rel="stylesheet" />
    <link href="~/Components/css/see-details-style.css" rel="stylesheet" />
    <!-- PagedList css  -->
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>
<body>
    @{var customerName = Html.Action("GetLoggedCustomerName", "Customer"); }

    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark mb-3">
        <a class="navbar-brand" href="#">ALAYI BURADA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="mr-5">

                    <p class="text-light">Giriş Yapan Kullanıcı:</p>
                    <p class="text-light"><strong>@customerName</strong></p>

                </div>
                @Ajax.ActionLink("SEPETİ GÖSTER", "AddToCart", "Product", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "cartList" }, new { @class = "btn btn-outline-info my-2 my-sm-0 mr-2" })
                @if (MvcHtmlString.IsNullOrEmpty(customerName))
                {
                    <a href="/Customer/Login/" class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">GİRİŞ YAP</a>
                }
                else
                {
                    <a href="/Customer/LogOut/" class="btn btn-danger my-2 my-sm-0 mr-2" type="submit">ÇIKIŞ YAP</a>
                }
            </form>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div>
                    <a href="#" class="list-group-item active">
                        Categories
                    </a>
                    @Html.Action("GetCategoryListToLeftSide", "Home")



                </div>
            </div>
            <div class="col-md-8">

                @RenderBody()
            </div>

            <div class="col-md-1">

                <table class="table mr-2" id="cartList">
                </table>
            </div>


        </div>
    </div>

    @*<footer class="footer">
            &copy; 2021 | &nbsp; All Rights Reserved| &nbsp; Email us: burakyuzz@gmail.com - d.c.ugur@gmail.com
        </footer>*@

    <script src="~/Components/js/jquery-1.10.2.js"></script>
    <script src="~/Components/js/bootstrap.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

</body>
</html>
