<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Alayı Burada</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Components/css/bootstrap.css" rel="stylesheet" />
    <!-- Fontawesome core CSS -->
    <link href="~/Components/css/font-awesome.min.css" rel="stylesheet" />
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- custom CSS here -->
    <link href="~/Components/css/style.css" rel="stylesheet" />
    <link href="~/Components/css/see-details-style.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><strong>Alayı</strong> BURADA</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div>
                    <a href="#" class="list-group-item active">
                        Categories
                    </a>
                    @Html.Action("GetCategoryListToLeftSide", "Home")



                </div>
            </div>
            <div class="col-md-8">

                @RenderBody()
            </div>

            <div class="col-md-1">

            <table id="cartList">
            </table>
            </div>


        </div>
    </div>

    @*<footer class="footer">
        &copy; 2021 | &nbsp; All Rights Reserved| &nbsp; Email us: burakyuzz@gmail.com - d.c.ugur@gmail.com
    </footer>*@

    <script src="~/Components/js/jquery-1.10.2.js"></script>
    <script src="~/Components/js/bootstrap.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

</body>
</html>
