@model List<AlayıBurada.Entities.Models.Product>

@{
    ViewBag.Title = "GetProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-9">


    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 text-center col-sm-6 col-xs-6">
                <div class="thumbnail product-box">
                    <img src="https://picsum.photos/200/200" alt="" />
                    <div class="caption">
                        <h3> @item.ProductName</h3>
                        <p>Price : <strong>@item.ProductPrice</strong>₺  </p>

                        <p>
                        <a>@Ajax.ActionLink("SepeteEkle", "AddToCart", "Product", new { id = item.ProductId }, new AjaxOptions { HttpMethod = "GET",UpdateTargetId = "cartList" }, new { @class = "btn btn-success" }) </a>

                        <a href="/Product/GetProductById/@item.ProductId/" class="btn btn-primary" data-toggle="modal" data-target="#modal-secondary" role="button">Detayları Gör</a>
                    </p>
                </div>
            </div>
        </div>
    }
    </div>
</div>

@Html.Action("GetProductById", "Product")
