<ul class="list-group">

    <li class="list-group-item">
        <a href="/Admin/ListOfCustomers">Müşterileri İşlemleri</a>


    </li>
    <li class="list-group-item">

        <a href="/Admin/ListOfProducts">Ürünleri İşlemleri</a>

    </li>
    <li class="list-group-item">

        <a href="/Admin/ListAllOrders">Sipariş İşlemleri</a>

    </li>


</ul>
