@model List<AlayıBurada.Entities.Models.Product>
@{
    ViewBag.Title = "GetCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-9">


    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 text-center col-sm-6 col-xs-6">
                <div class="thumbnail product-box">
                    <img src="https://picsum.photos/200/200" alt="" />
                    <div class="caption">
                        <h3> @item.ProductName</h3>
                        <p>Price : <strong>@item.ProductPrice</strong>₺  </p>

                        <p>@Ajax.ActionLink("SepeteEkle", "AddToCart", "Product", new { id = item.ProductId }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "cartList" }, new { @class = "btn btn-success" }) <a href="#" class="btn btn-primary" role="button">Detayları Gör</a></p>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row">
        <ul class="pagination alg-right-pad">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>

</div>
