@model IEnumerable<AlayıBurada.Entities.Models.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="col-md-3">
    <div>
        <a href="#" class="list-group-item active">
            Categories
        </a>
        <ul class="list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item">
                    @item.CategoryName
                    <span class="label label-primary pull-right">111</span>
                </li>

            }


        </ul>
    </div>


</div>*@

